# -----------------------------------------
# Python
# -----------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
*.venv/
robot3d_env/
tester_env/
tester/
# VSCode / PyCharm settings
.vscode/
.idea/

# -----------------------------------------
# project assets (outputs, processed data)
# -----------------------------------------
# output depth maps
assets/outputs/depth/
assets/outputs/depth/*.png

# output pointcloud
assets/outputs/pointcloud/
assets/outputs/pointcloud/*.ply

# output mesh
assets/outputs/mesh/*.ply
assets/outputs/mesh/*.obj
assets/outputs/mesh/*.stl
assets/outputs/mesh/*.gltf
assets/outputs/mesh/*.glb

# -----------------------------------------
# block general image/video files
# -----------------------------------------
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.tif
*.webp
*.mp4
*.avi
*.mov
assets/images/*
# But allow images in assets/images/ (input samples)
!assets/images/
!assets/images/.jpg
!assets/images/.png
!assets/images/.jpeg
!assets/images/.gif


# -----------------------------------------
# OS & editor junk
# -----------------------------------------
.DS_Store
Thumbs.db


# -----------------------------------------
# Download file
# -----------------------------------------

assets/models/*
